body{
  background-color: rgb(84, 3, 3);
}

h1 {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
  color:rgb(254, 217, 125);
}

h3 {
  text-align: center;
  color:rgb(254, 217, 125);
}

.header {
  display: flex;
  justify-content: space-between;
}

.message {
  background-color: rgb(217, 238, 246);
  display: inline-block;
  padding: 10px;
  border: 3px solid rgb(145	174	183);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s linear;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

.btn {
  background-color: rgb(254, 217, 125);
  color: rgb(84, 3, 3);
  padding-inline: 30px;
  padding-block: 10px;
  font-size: large;
  font-weight: bolder;
  border: none;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.fortuneCookie {
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: calc(50% - 15px);
  transform: translate(-50%, -50%);
}

.cookiePieces {
  width: 100%;
}

.cookiePieces img {
  display: inline-block;
  width: 40%;
  object-fit: 'contain';
  position: absolute;
  left: 50%;
  animation-fill-mode: forwards;
  z-index: 100;
}

.cookiePieceLeft {
  transform: translate(-61%, -10%) rotate(23deg);
  animation: slideLeft 0.5s linear;
}

@keyframes slideLeft{
    0% {}
    100% {
      left: 0%;
      transform: translate(0%, -10%);
    }
}

.cookiePieceRight {
  transform: translate(-40%, -10%) rotate(-25deg);
  animation: slideRight 0.5s linear;
}

@keyframes slideRight{
  0% {}
  100% {
    left: 100%;
    transform: translate(-100%, -10%);
  }
}

@keyframes fadeIn{
  0% {}
  100% {
    opacity: 100;
  }
}
